version: "3.11"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./backend:/app
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ats_user
      POSTGRES_PASSWORD: 204085
      POSTGRES_DB: ats_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
